<div class="recap_assistant grid-y float-left">
  <div class="assistant_values grid-y">
    <div class="grid-x assistant_container">
      <h3 class="assistant_level letter_spaced"><b> Niveau <%= current_organization.level %> </b></h3>
      <h5 class="assistant_score"><%= current_organization.score %>/<%= current_organization.palierScores[current_organization.level-1] %></h5>
    </div>
    <div class="progress">
      <input class="paliers" type="hidden" value="<%= current_organization.palierScores %>"/>
      <div class="color progress_bar"></div>
    </div>
  </div>
  <%= image_tag ActionController::Base.helpers.asset_pack_path("media/images/badge"+current_organization.level.to_s+".png"), class: "card__image avatar float-center badge-level-"+current_organization.level.to_s, alt: "avatar" %>
</div>