<div class="card">
  <div class="card-divider">
    <h2 class="card-title">
      <%= t("decidim.admin.assistant.title") %>
    </h2>
  </div>
  <div class="table-scroll grid-x">
    <%= render(
          partial: "decidim/admin/dashboard/recap_assistant"
        ) %>
    <div class="assistant_recommendations">
      <div>
        <h3 class="letter_spaced"> <b> <%= t("decidim.admin.assistant.recommendations") %> </b> </h3>
        <ul class="list-recommendations-uncompleted">
          <% if Decidim::Ludens::ParticipativeAction.last_done_recommendation %>
            <li class="recommendation no-bullet"> <a target="_blank" href="<%= Decidim::Ludens::ParticipativeAction.last_done_recommendation.documentation %>"><%= Decidim::Ludens::ParticipativeAction.last_done_recommendation.recommendation %></a> <span class="recommendation-points"> <%= Decidim::Ludens::ParticipativeAction.last_done_recommendation.points %> <%= t("decidim.admin.assistant.points") %></span></li>
          <% if Decidim::Ludens::ParticipativeAction.last_done_recommendation %>
            <li class="recommendation no-bullet"> <a target="_blank" href="<%= Decidim::Ludens::ParticipativeAction.last_done_recommendation.documentation %>"><%= Decidim::Ludens::ParticipativeAction.last_done_recommendation.translated_recommendation %></a> <span class="recommendation-points"> <%= Decidim::Ludens::ParticipativeAction.last_done_recommendation.points %> <%= t("decidim.admin.assistant.points") %></span></li>
          <% end %>
          <% Decidim::Ludens::ParticipativeAction.recommendations.each do |recommendation| %>
            <li class="recommendation bulleted"> <a target="_blank" href="<%= recommendation.documentation %>"><%= recommendation.recommendation %></a><span class="recommendation-points"> <%= recommendation.points %> <%= t("decidim.admin.assistant.points") %></span></li>
          <% Decidim::Ludens::ParticipativeAction.recommendations.each do |recommendation| %>
            <li class="recommendation bulleted"> <a target="_blank" href="<%= recommendation.documentation %>"><%= recommendation.translated_recommendation %></a><span class="recommendation-points"> <%= recommendation.points %> <%= t("decidim.admin.assistant.points") %></span></li>
          <% end %>
        </ul>
      </div>
      <% if withKnowMore %>
        <a href="/admin/ludens"> <%= t "decidim.admin.assistant.knowMore" %></a>
      <% end %>
    </div>
  </div>
</div>
