<div class="card cell small-3 card-recommandation card-<%= title %>">
  <div class="card-divider">
    <h2 class="card-title">
      <%= title %>
    </h2>
  </div>
  <div class="grid-x recommendation-container float-left">
      <ul class="list-actions-uncompleted">
        <% recommendations.each do |recommendation| %>
          <li> <%= recommendation.recommendation %> </li>
        <% end %>
      </ul>

      <ul class="list-actions-completed">
        <% recommendationsDone.each do |recommendation| %>
          <li class="no-bullet"> <%= recommendation.recommendation %> </li>
        <% end %>
      </ul>
      <a data-open="exampleModal<%= title %>"> <%= t "decidim.admin.assistant.seeMore" %> </a>
  </div>
  <div class="reveal" id="exampleModal<%= title %>" data-reveal>
    <div class="grid-x">
      <ul class="modal-actions-uncompleted">
        <% recommendationsTotal.each do |recommendation| %>
          <li> <%= recommendation.recommendation %> </li>
        <% end %>
      </ul>

      <ul class="modal-actions-completed">
        <% recommendationsDoneTotal.each do |recommendation| %>
          <li class="no-bullet"> <%= recommendation.recommendation %> </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>