<% add_decidim_page_title(t("decidim.admin.titles.dashboard")) %>
<%= stylesheet_pack_tag "decidim_participative_assistant", media: "all" %> <!--TODO Move to head-->
<%= javascript_pack_tag "decidim_participative_assistant", media:"all" %> <!-- TODO Move to head -->
<h1 class="card-title">
  <%= t "decidim.admin.assistant.title" %>
</h1>
<h3>
  <%= t "decidim.admin.assistant.intro" %>
</h3>

<div class="content">

  <div class="grid-x grid-margin-x">
      <div class="cell small-6">
        <%= render(partial: "decidim/admin/dashboard/recap",
                   locals: {
                     withKnowMore: false
                   }) %>
      </div>
      <div class="cell small-6">
        <%= render(partial: "decidim/participative_assistant/admin/participative_assistant/levelsGrid")%>
      </div>
  </div>

  <div class="grid-x grid-margin-x">
      <div class="cell small-6">
        <%= render(
              partial: "list_actions",
              locals: {
                title: "Edition",
                recommendations: @recoEdition,
                recommendationsDone: @recoEditionDone,
                recommendationsTotal: @recoEditionTotal,
                recommendationsDoneTotal: @recoEditionDoneTotal
              }
            ) %>
      </div>

      <div class="cell small-6">
        <%= render(
              partial: "list_actions",
              locals: {
                title: "Collaboration",
                recommendations: @recoCollab,
                recommendationsDone: @recoCollabDone,
                recommendationsTotal: @recoCollabTotal,
                recommendationsDoneTotal: @recoCollabDoneTotal
              }
            ) %>
      </div>
  </div>
      <div class="grid-x grid-margin-x">
        <div class="cell small-6">
        <%= render(
              partial: "list_actions",
              locals: {
                title: "Interaction",
                recommendations: @recoInteraction,
                recommendationsDone: @recoInteractionDone,
                recommendationsTotal: @recoInteractionTotal,
                recommendationsDoneTotal: @recoInteractionDoneTotal
              }
            ) %>
        </div>
        <div class="cell small-6">
          <%= render(
              partial: "list_actions",
              locals: {
                title: "Configuration",
                recommendations: @recoConfig,
                recommendationsDone: @recoConfigDone,
                recommendationsTotal: @recoConfigTotal,
                recommendationsDoneTotal: @recoConfigDoneTotal
              }
            ) %>
        </div>
      </div>
    </div>
  </div>
</div>
