<% add_decidim_page_title(t("decidim.admin.titles.dashboard")) %>
<%= stylesheet_pack_tag "decidim_participative_assistant", media: "all" %> <!--TODO Move to head-->
<%= javascript_pack_tag "decidim_participative_assistant", media:"all" %> <!-- TODO Move to head -->
<h2 class="card-title">
  <%= t "decidim.admin.assistant.title" %>
</h2>
<h3>
  <%= t "decidim.admin.assistant.intro" %>
</h3>

<div class="content">
  <div class="grid-x">
    <div class="cell small-3">
    <%= render(
          partial: "decidim/admin/dashboard/recap_assistant",
          locals: {
            score: 14,
            level: 2,
          }
        ) %>
    </div>
    <div class="cell small-9">
      <h3> <%= t "decidim.admin.assistant.explication.title" %></h3>
      <p> <%= t "decidim.admin.assistant.explication.content" %></p>
    </div>
  </div>
  <div class="grid-x">
    <ul class="cell small-3 list_lvls">
      <li class="normal_bullet"> <b><%= t "decidim.admin.assistant.level" %> 1 : </b><%= t "decidim.admin.assistant.level1" %></li>
      <li class="inter_line"></li>
      <li class="normal_bullet"> <b><%= t "decidim.admin.assistant.level" %> 2 : </b><%= t "decidim.admin.assistant.level2" %></li>
      <li class="inter_line"></li>
      <li class="normal_bullet"> <b><%= t "decidim.admin.assistant.level" %> 3 : </b><%= t "decidim.admin.assistant.level3" %></li>
      <li class="inter_line"></li>
      <li class="normal_bullet"> <b><%= t "decidim.admin.assistant.level" %> 4 : </b><%= t "decidim.admin.assistant.level4" %></li>
      <li class="inter_line"></li>
      <li class="normal_bullet"> <b><%= t "decidim.admin.assistant.level" %> 5 : </b><%= t "decidim.admin.assistant.level5" %></li>
    </ul>
    <div class="cell small-8">
      <div class="grid-x grid-margin-x">
        <%= render(
              partial: "list_actions",
              locals: {
                title: "Edition",
                recommendations: ["Lorem Ipsum 1", "Lorem Ipsum 2", "Lorem Ipsum 3"]
              }
            ) %>
        <%= render(
              partial: "list_actions",
              locals: {
                title: "Collaboration",
                recommendations: ["Lorem Ipsum 1", "Lorem Ipsum 2", "Lorem Ipsum 3"]
              }
            ) %>
        <%= render(
              partial: "list_actions",
              locals: {
                title: "Interaction",
                recommendations: ["Lorem Ipsum 1", "Lorem Ipsum 2", "Lorem Ipsum 3"]
              }
            ) %>
        <%= render(
              partial: "list_actions",
              locals: {
                title: "Configuration",
                recommendations: ["Lorem Ipsum 1", "Lorem Ipsum 2", "Lorem Ipsum 3"]
              }
            ) %>
      </div>
    </div>
  </div>
</div>
